.parent {
  margin: 1em;
  background: #dcdcdc; }

.two .block {
  background: #b0a9e5; }
.two div {
  height: 3em; }

.three .block {
  background: #e7c0ac; }

.items {
  background: #ace7b3; }

.item {
  background: #e8eab1; }

.susy .two {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .susy .two:after {
    content: " ";
    display: block;
    clear: both; }
  .susy .two .side {
    
    
    
    width: 32.20339%;
    float: left;
    
    margin-right: 1.69492%;
    
     }
  .susy .two .main {
    
    
    
    width: 66.10169%;
    float: right;
    
    margin-right: 0;
    
     }
