.parent {
  margin: 1em;
  background: #dcdcdc; }

.two .block {
  background: #e7c0ac; }
.two div {
  height: 3em; }

.three .block {
  background: #e7c0ac; }

.items {
  background: #ace7b3; }

.item {
  background: #e8eab1; }

.susy .two {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 75%, transparent 75%);
  background-size: 80px;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .susy .two:after {
    content: " ";
    display: block;
    clear: both; }
  .susy .two .side {
    
    
    
    width: 300px;
    float: left;
    
    margin-right: 20px;
    
     }
  .susy .two .main {
    
    
    
    width: 620px;
    float: right;
    
    margin-right: 0;
    
     }
