// base
.parent{
  margin : 1em;
  background: #dcdcdc;
}
.two{
  .block{
    background: #b0a9e5;
  }
  div{
    height : 3em;
  }
}

.three{
  .block{
    background: #e7c0ac;
  }
}
.items{
  background: #ace7b3;
}
.item{
    background: #e8eab1;
}


.neat{
  @import "bourbon/bourbon";
  @import "neat/neat";
  @include outer-container();

  .two{
    @include outer-container();
    @include clearfix();
    .side{
      @include span-columns(4);
    }
    .main{
      @include span-columns(8);
      @include omega();
    }
  }

  .three{
    @include outer-container();
    @include clearfix();
    .side-left{
      @include span-columns(4);
    }
    .main{
      @include span-columns(6);
    }
    .side-right{
      @include span-columns(2);
      @include omega();
    }
  }
  .items{
    @include outer-container();
    @include clearfix();

    .item{
      @include span-columns(4);
      @include omega(3n); // めんどいのはこれかなあ。
    }
  }
  @include clearfix();
}

.susy{
  //@import "bourbon/bourbon";
  @import "susy/susy";
  $susy: (
    columns: 12, // 絶対に設定が必要
//    output: float,
//    math: fluid,
//    last-flow: to,
    use-custom : (
      clearfix:true
    )
  );
  
  .two{
    @include container();
    .side{
      @include span(4);
    }
    .main{
      @include span(8 last);
    }
  }
  .three{
    @include container();
    .side-left{
      @include span(4);
    }
    .main{
      @include span(6);
    }
    .side-right{
      @include span(2 last);
    }
  }
  .items{
    @include container;
    .item{
      @include gallery(4);
    }
  }
}