html
  head
    link(rel="stylesheet" href="./css/grid.css" type="text/css")
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.6/es5-shim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
      
  body
    each type in ["neat", "susy"]
      .grid(class=type)
        .two.parent
          .side.block This is side
          .main.block This is main
        .three.parent
          .side-left.block This is side
          .main.block This is main
          .side-right.block This is side
        .items.parent
          .item
            div 1
          .item
            div 2
          .item
            div 3
          .item
            div 4
          .item
            div 5
          .item
            div 6
          .item
            div 7
